{% extends 'base.html.twig' %}

{% block title %}Détail de l'éditeur{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Editeur : </h1>
    {% if editor is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ editor.name }}</h4>
                    <small class="text-muted">Identifiant : {{ editor.id }}</small>
                </div>
            </div>
        </div>
    {% else %}
        <div>Editeur non trouvé</div>
    {% endif %}
    <div class="d-flex">
        <a href="{{ path('admin_editor') }}" class="btn btn-primary">Retour</a>
        <a href="{{ path('admin_editor_edit', {id: editor.id}) }}" class="btn btn-warning">Éditer</a>
        <a href="{{ path('admin_editor_remove', {id: editor.id}) }}" class="btn btn-danger">Supprimer</a>
    </div>
</div>
{% endblock %}